body {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight:300;
}

h2 {
  font-weight:300;
}

h1 span {
  font-weight:700;
}

ul {
  list-style: none;
  display: inline-block;
  border-right:1px solid #000;
  padding: 20px;
  vertical-align: top;
  height:230.65px;
}

.center {
    width:550px;
    margin:0 auto;
}
